    .dateTimePicker{ height: 15px; font-size: 10px;
    font-family: Verdana;
font-weight: normal;
font-size: 11px;
    }
    .dateTimePicker table {
    position: absolute;
    margin: 0px;
    padding: 0px;
    background-color:#FFF0F5;
    min-width: 200px;
     
    }
    .dateTimePicker table tbody{
    position: relative;
     
    }
    .dateTimePicker table tbody tr td{
    text-align: center;
     
    }
    .dateTimePicker table tbody tr td.dayUnSelected{
    background-color: #e4e4e4;
    cursor: pointer;
    border-radius: 0.5em 0.5em 0.5em 0.5em;

    }
    .dateTimePicker table tbody tr td.daySelected{
    color : #FFF;
    background-color: #60a4b7;
    cursor: pointer;
    border:1px solid #005BAA;
    }
    .dateTimePicker table tbody tr td.dayWrongMonth{
    background-color: #fff;
    cursor: pointer;
    }
    .dateTimePicker table tbody tr td.dayUnSelected:hover{
    color : #fff;
    }
    .dateTimePicker table tr th{
    padding-left: 10px;
    padding-right: 10px;
    color : #fff;
    background-color: #383838;
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;

    }
    .dtPickerOff {
    display: none;
    }
    .dtPickerEmButton{
    cursor: pointer;
    }
    .dtPickerEmButton:hover{
    color : #fff;
    background-color: #59627A;
    
    }
    .dtPickerOn{}
    .dateTimePicker table tbody tr.dtPickerNavTr td{border:1px solid #005BAA;
    border-radius: 1em 1em 1em 1em;

    }